<div *ngIf="loading === true; else reviews">
  <p>loading...</p>
</div>
<ng-template #reviews>
  <div>
    <div>
      <app-create-review *ngIf="showCreateReviewComponent; else userReview" [mediaId]="getMediaId()"></app-create-review>
      <ng-template #userReview>
        <app-review-card [reviewInfo]="getUserReview()"></app-review-card>
      </ng-template>
    </div>
    <div>
      <app-review-card [reviewInfo]="review" *ngFor="let review of getReviews()"></app-review-card>
    </div>
    <div>
      <div (click)="changePage(pageNumber)" *ngFor="let pageNumber of getPages()">
        <button class="change-page-button">{{pageNumber}}</button>
      </div>
    </div>
  </div>
</ng-template>
