<div *ngIf="getImages().length !== 0">
  <div>
    <div *ngFor="let imageUrl of getImages();">
      <img class="profile-image-option" (click)="setSelectedImage($event)" [src]="env.apiUrl + '/' + imageUrl" [alt]="'imagem de perfil' + ' ' + imageUrl">
    </div>
  </div>
  <div>
    <button class="change-profile-image-btn" (click)=changeProfileImage()>Mudar imagem</button>
  </div>
</div>
<div *ngIf="getImages().length === 0 && getErrorMessage() !== undefined">
  <p>{{getErrorMessage()}}</p>
</div>
