* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 15em;
}
