<div>
  <div class="textarea-div"><textarea class="review-content form-control" (change)="setReviewContent($any($event.target).value)" [value]="getReviewContent()" rows="10"></textarea></div>
  <div>
    <div>
      <input type="radio" id="recommended-true" name="recommended" class="form-check-input recommended-btn" (click)="setReviewRecommended(true)">
      <label class="form-check-label" for="recommended-true">Recomendo</label>
    </div>
    <div>
      <input type="radio" id="recommended-false" name="recommended" class="form-check-input recommended-btn" (click)="setReviewRecommended(false)">
      <label class="form-check-label" for="recommended-false">Não recomendo</label>
    </div>
  </div>
  <button class="send-review-btn btn btn-primary" (click)="send()">Enviar</button>
</div>
