<app-page-not-found *ngIf=" getReview() === undefined; else showReview"></app-page-not-found>
<ng-template #showReview>
  <app-review-card [reviewInfo]="getReview()"></app-review-card>
  <div *ngIf="getComments().length > 0">
    <div *ngFor="let comment of getComments()">
      <div *ngIf="comment.editing !== true; else showEditing">
        <span *ngIf="comment.edited === true">Editado</span>
        <span>{{comment.username}}</span>
        <p>{{comment.commentary}}</p>
        <button *ngIf="this.tokenUsername === comment.username" (click)="editComment(comment)">Editar</button>
      </div>
      <ng-template #showEditing>
        <input type="text" value={{comment.commentary}} (change)="changeCommentary(comment, $any($event.target).value)">
        <button (click)="saveComment(comment)">Salvar</button>
      </ng-template>
    </div>
  </div>
  <div *ngIf="this.tokenUsername !== null">
    <input
      value={{this.getUserComment()}}
      (change)="setUserComment($any($event.target).value)"
      placeholder="Insira um comentário..."
      type="text"
    >
    <button (click)="sendComment()">Enviar</button>
  </div>
</ng-template>
