<header class="d-flex flex-row justify-content-between m-1">
  <div>
    <a class="home-redirect-button" [routerLink]="['/']">
      <button type="button" class="btn btn-dark">Home</button>
    </a>
  </div>
  <app-search-bar></app-search-bar>
  <div class="d-flex gap-1" *ngIf="username === null; else logged">
    <a class="login-redirect-button" [routerLink]="['/login']">
      <button type="button" class="btn btn-primary">Login</button>
    </a>
    <a class="register-redirect-button" [routerLink]="['/register']">
      <button type="button" class="btn btn-secondary">Registro</button>
    </a>
  </div>
  <ng-template #logged>
    <div class="user-info-container">
      <button
        type="button"
        class="btn dropdown-toggle username"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{username}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item profile-link" [routerLink]="['/profile/', username]">
          <span>Perfil</span>
        </a>
        <a class="dropdown-item link-to-userlist" [routerLink]="['/list/', username]">
          <span>Lista</span>
        </a>
        <a class="dropdown-item" [routerLink]="['/settings']">
          <span class="settings-redirect">Configurações</span>
        </a>
        <button class="dropdown-item logout-btn" (click)="logout()">Logout</button>
      </div>
    </div>
  </ng-template>
</header>
